* {
    margin: 0;
    padding: 0;
    width: 1460;
    height: 5000;
    scroll-behavior: smooth;

}

body{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 4vh;
    text-align: center;
}

#foto{
    width: 20wh;
}
#